---
layout: post
title: Icons
category: components
description: We are using [FontAwesome icons](https://fontawesome.com/icons) with [Bootstrap colors](http://getbootstrap.com/docs/4.1/utilities/colors/).
             Icons can be used with text or title, depending on your use case.
---

%i.fas.fa-plus-circle.text-primary Add
%br
%i.fas.fa-plus-circle.text-primary{ title: 'Add' }
%br
%i.fas.fa-edit.text-info Edit
%br
%i.fas.fa-edit.text-info{ title: 'Edit' }
%br
%i.fas.fa-times-circle.text-danger Delete
%br
%i.fas.fa-times-circle.text-danger{ title: 'Delete' }
