---
layout: post
title:  "Horizontal Menu"
category: components
description: A responsive, horizontal list of links 
---

.row.no-gutters
  .col
    %a.btn.btn-default{href: '/user/show/heino'}
      %i.fas.fa-home
      %br/
      Your Home
  .col
    %a.btn.btn-default{href: '/project'}
      %i.fas.fa-list
      %br/
      All Projects
  .col
    %a.btn.btn-default{href: '/project/new'}
      %i.fas.fa-plus-square
      %br/
      New Project
  .col
    %a.btn.btn-default{href: '/image_templates'}
      %i.fas.fa-compact-disc
      %br/
      New Image
  .col
    %a.btn.btn-default{href: '/monitor'}
      %i.fas.fa-heartbeat
      %br/
      Monitor
