---
layout: post
title: DataTable
category: components
description: We are using [DataTable](https://datatables.net/examples/styling/bootstrap4)'s [responsive](https://datatables.net/extensions/responsive/)
             and style them with striped rows (`.table-striped`) and borders (`.table-bordered`).
---

%table.responsive.table.table-striped.table-bordered#my-table
  %thead
    %tr
      %th Fruits
      %th Origin
      %th Vendor
  %tbody
    %tr
      %td Oranges
      %td Bananas
      %td Kiwis
    %tr
      %td Spain
      %td Brazil
      %td Germany
    %tr
      %td Fruits Are Us
      %td Fruits & Vegetables Inc.
      %td SUSE Fruit Company Ltd.

:javascript
  $('#my-table').DataTable({
    responsive: true
  });
