<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <title>OBS patterns</title>
  <!-- Custom styles for this template -->
  <link href="/assets/main.css" rel="stylesheet">
  <link href="/assets/syntax.css" rel="stylesheet">

  <link rel="stylesheet" media="screen" href="https://build.opensuse.org/assets/webui2/webui2.css?{{ site.time | date: '%s%N' }}" />
  <script src="https://build.opensuse.org/assets/webui2/application.js?{{ site.time | date: '%s%N' }}"></script>
</head>
