<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>OBS patterns</title>
  <!-- Custom styles for this template -->
  <link href="/assets/main.css" rel="stylesheet">
  <link href="/assets/syntax.css" rel="stylesheet">

  <link rel="stylesheet" media="screen" href="https://build.opensuse.org/assets/webui2/webui2-94ac0250363722da68bea9d9c1f1072d77af46a7d8b253be0ba037afe26c59e3.css" />
  <script src="https://build.opensuse.org/assets/webui2/application-c9787a2a13990a2bb8d3f61ba331a10990dc9e41e0d842b21cfa534575fc8991.js"></script>
</head>
