<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        {% for category in site.categories %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>{{category|first}}</span>
          </h6>
          {% assign category_name = category|first %}
          {% for post in site.categories[category_name] %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ post.url | relative_url }}">
                <span data-feather="home"></span>
                {{ post.title | escape }} <span class="sr-only">(current)</span>
              </a>
            <li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>