<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories %}
          {% assign category_name = category | first %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>{{ category_name }}</span>
          </h6>
          {% assign sorted_posts = category[1] | sort: 'title' %}
          {% for post in sorted_posts %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ post.url | relative_url }}">
                <span data-feather="home"></span>
                {{ post.title | escape }} <span class="sr-only">(current)</span>
              </a>
            <li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
